<div>
  <h2>Chat Communication</h2>
  <span>{{user.username}}</span>
  <div class="row">
    <div class="col-md-6">
      <u>
        Messages
      </u>
      <div style="border:1px solid red;height: 800px">
        <li *ngFor="let msg of messages">
          <p>{{msg.user}}</p>
          {{msg.msg}}
          {{msg.time | date:'hh:mm a'}}
        </li>
      </div>
      <div class="row">
        <div class="col-md-8">
          <form class="form-group" (ngSubmit)="sendMsg()" #chatForm="ngForm">
            <input class="form-control" (focus)="focusedIn(true)" (focusout)="focusedIn(false)" type="text"
              placeholder="message here" name="msg" [(ngModel)]="msgBody.msg">
          </form>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" type="submit">send</button>

        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <u>Users</u>
      <div style="border:1px solid red;height: 800px">
        <li *ngFor="let user of users">
          <button class="btn btn-default" (click)="setUser(user)">{{user.name}}</button>
        </li>
      </div>

    </div>

  </div>

</div>

<!-- <div class="container">
  <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading top-bar">
          <div class="col-md-8 col-xs-8">
            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> {{selectedName}}</h3>
          </div>
          <div class="col-md-4 col-xs-4" style="text-align: right;">
            <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
            <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
          </div>
        </div>
        <div class="panel-body msg_container_base">
          <div class="row msg_container base_sent">
            <div class="col-md-10 col-xs-10">
              <div class="messages msg_sent">
                <p>that mongodb thing looks good, huh?
                  tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                class=" img-responsive ">
            </div>
          </div>
          <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                class=" img-responsive ">
            </div>
            <div class="col-md-10 col-xs-10">
              <div class="messages msg_receive">
                <p>that mongodb thing looks good, huh?
                  tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
          </div>
          <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                class=" img-responsive ">
            </div>
            <div class="col-xs-10 col-md-10">
              <div class="messages msg_receive">
                <p>that mongodb thing looks good, huh?
                  tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
          </div>
          <div class="row msg_container base_sent">
            <div class="col-xs-10 col-md-10">
              <div class="messages msg_sent">
                <p>that mongodb thing looks good, huh?
                  tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                class=" img-responsive ">
            </div>
          </div>
          <div class="row msg_container base_receive">
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                class=" img-responsive ">
            </div>
            <div class="col-xs-10 col-md-10">
              <div class="messages msg_receive">
                <p>that mongodb thing looks good, huh?
                  tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
          </div>
          <div class="row msg_container base_sent">
            <div class="col-md-10 col-xs-10 ">
              <div class="messages msg_sent">
                <p>that mongodb thing looks good, huh?
                  tiny master db, and huge document store</p>
                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
              </div>
            </div>
            <div class="col-md-2 col-xs-2 avatar">
              <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
                class=" img-responsive ">
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm chat_input"
              placeholder="Write your message here..." />
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group dropup">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
      <li class="divider"></li>
      <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
    </ul>
  </div>
</div> -->