<div>
  <h2>Register</h2>
  <p>Plase provide your details to register</p>
  <form class="form-group" #registerForm="ngForm" novalidate>
    <label for="name">name</label>
    <input class="form-control" type="text" name="name" placeholder="name" [(ngModel)]="user.name">
    <label for="address">address</label>
    <input class="form-control" type="text" name="address" placeholder="address" [(ngModel)]="user.address">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" placeholder="email" [(ngModel)]="user.email" #email="ngModel"
      required email>
    <div class="danger" *ngIf="email.errors && email.dirty">
      <div *ngIf="email.errors.required">
        required field*
      </div>
      <div *ngIf="email.errors.email">
        not an valid email
      </div>
    </div>
    <label for="phoneNumber">phoneNumber</label>
    <input class="form-control" type="text" name="phoneNumber" placeholder="phoneNumber" [(ngModel)]="user.phoneNumber">
    <label for="username">username</label>
    <input class="form-control" type="text" name="username" placeholder="username" [(ngModel)]="user.username" required>
    <label for="password">password</label>
    <input class="form-control" type="text" name="password" placeholder="password" [(ngModel)]="user.password"
      #password="ngModel" required minlength="8">
    <div class="danger" *ngIf="password.errors && password.dirty">
      <div *ngIf="password.errors.required">
        required field*
      </div>
      <div *ngIf="password.errors.minlength">
        weak password
      </div>
      <div *ngIf="password.valid">
        show some green tick mark
      </div>
    </div>
    <label for="gender">gender</label>
    <input class="form-control" type="text" name="gender" placeholder="gender" [(ngModel)]="user.gender">
    <br>
    <button [disabled]="registerForm.invalid" (click)="register()" *ngIf="!submitting"
      class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>
  </form>

  <span>Already Registered? <a routerLink="/auth/login">login here</a></span>

</div>