<div>
  <h2>View Products</h2>
  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <table *ngIf="!loading" class="table">
    <thead>
      <tr>
        <th>S.N</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Tags</th>
        <th>Created Date</th>
        <th>Images</th>
        <th *ngIf="!data">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products;let i= index">
        <td>
          {{i+1}}
        </td>
        <td>
          {{product.name |uppercase }}
        </td>
        <td>
          {{product.brand}}
        </td>
        <td>
          {{product.category}}
        </td>
        <td>
          {{product.price}}
        </td>
        <td>
          {{product.tags}}
        </td>
        <td>
          {{product.createdAt | date}}
        </td>
        <td>
          <img src="{{imgUrl}}{{product.image}}" width="200px" alt="">
        </td>
        <td *ngIf="!data">
          <button class="btn btn-info" (click)="editProduct(product._id)">edit</button>
          <button class="btn btn-danger" (click)="removeProduct(product._id,i)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>