<div class="sidenav" *ngIf="isLoggedIn()">
    <app-header></app-header>

    <a [routerLink]="['/user/dashboard']">Home</a>
    <a [routerLink]="['/product/add']">Add Product</a>
    <a [routerLink]="['/product/list']">View Products</a>
    <a [routerLink]="['/product/search']">Search Product</a>
    <a [routerLink]="['/user/chat']">Let's Chat</a>
    <button class="btn btn-info" (click)="logout()">logout</button>
</div>

<div class=" container main">
    <router-outlet></router-outlet>
</div>
<!-- router outlet is a directive given by router module which acts as an placeholder for component registered in application routing config -->
<app-footer></app-footer>