<div>
  <h2>Reset Password </h2>
  <form #resetForm="ngForm" class="form-group">



    <label for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
      required #password="ngModel">
    <div class="danger" [hidden]="password.valid || password.pristine">
      required field*
    </div>
    <label for="confirmPassword">Confirm Password</label>
    <input class="form-control" type="password" placeholder="Confrim Password" name="confirmPassword"
      [(ngModel)]="user.confirmPassword" required #confirmPassword="ngModel">
    <div class="danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">
      required field*
    </div>
    <br>
    <button [disabled]="resetForm.invalid" *ngIf="!submitting" (click)="submit()" class="btn btn-primary">submit</button>
    <button disabled class="btn btn-info" *ngIf="submitting">submitting...</button>
  </form>
</div>