<div>
  <h2>Forgot Password</h2>
  <form class="form-group" #forgotPasswordForm="ngForm">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" placeholder="Email here" [(ngModel)]="user.email" required>

    <button [disabled]="forgotPasswordForm.invalid" *ngIf="!submitting" (click)="submit()"
      class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-primary">submitting...</button>
  </form>
  <span>back to <a routerLink="/auth/login">login</a></span>
</div>