<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="!
loading">
  <h2>Update Product</h2>
  <form class="form-group" #productForm="ngForm">
    <label for="name">name</label>
    <input class="form-control" type="text" name="name" placeholder="name" [(ngModel)]="product.name" required>
    <label for="description">description</label>
    <input class="form-control" type="text" name="description" placeholder="description"
      [(ngModel)]="product.description">
    <label for="brand">brand</label>
    <input class="form-control" type="text" name="brand" placeholder="brand" [(ngModel)]="product.brand">
    <label for="category">category</label>
    <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="product.category">
    <label for="price">price</label>
    <input class="form-control" type="text" name="price" placeholder="price" [(ngModel)]="product.price">
    <label for="color">color</label>
    <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.color">
    <label for="manuDate">Manu Date</label>
    <input class="form-control" type="date" name="manuDate" [(ngModel)]="product.manuDate">
    <label for="expiryDate">Expiry Date</label>
    <input class="form-control" type="date" name="expiryDate" [(ngModel)]="product.expiryDate">
    <label for="tags">tags</label>
    <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
    <label for="weight">weight</label>
    <input class="form-control" type="text" name="weight" placeholder="weight" [(ngModel)]="product.weight">
    <div>
      <label for="Image">Image</label>
      <img src="{{imgUrl}}{{product.image}}" width="400px" alt="">
    </div>
    <label for="image">Choose New Image</label>
    <input class="form-control" type="file" name="file" (change)="fileChanged($event)">
    <br>
    <button [disabled]="productForm.invalid" (click)="update()" *ngIf="!submitting"
      class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>

  </form>
</div>