<div *ngIf="!result">
  <h2>Search Product</h2>
  <form class="form-group" #productForm="ngForm">
    <!-- <label for="category">category</label>
    <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="product.category"> -->
    <label for="category">category</label>
    <select class="form-control" name="Category" (change)="categoryChanged(product.category)"
      [(ngModel)]="product.category">
      <option disabled value="">(Select Category)</option>
      <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
    </select>
    <div *ngIf="showName">
      <label for="name">Name</label>
      <select class="form-control" name="name" [(ngModel)]="product.name">
        <option disabled value="">(Select Name)</option>
        <option *ngFor="let name of names" [value]="name.name">{{name.name}}</option>
      </select>
    </div>
    <label for="minPrice">Min Price</label>
    <input class="form-control" type="text" name="minPrice" placeholder="minPrice" [(ngModel)]="product.minPrice">
    <label for="maxPrice">Max Price</label>
    <input class="form-control" type="text" name="maxPrice" placeholder="maxPrice" [(ngModel)]="product.maxPrice">
    <label for="color">color</label>
    <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.color">
    <label for="fromDate">From Date</label>
    <input class="form-control" type="date" name="fromDate" [(ngModel)]="product.fromDate">
    <input type="checkbox" [checked]="showMultipleDate" (change)="chanegMultipleDate()"> multiple date range
    <br>
    <div *ngIf="showMultipleDate">
      <label for="toDate">To Date</label>
      <input class="form-control" type="date" name="toDate" [(ngModel)]="product.toDate">
    </div>
    <label for="tags">tags</label>
    <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
    <br>
    <button [disabled]="productForm.invalid" (click)="search()" *ngIf="!submitting"
      class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>

  </form>
</div>
<div *ngIf="result">
  <app-list-product [data]="products"></app-list-product>
</div>